body{
    text-align: center;
    padding: 0%;
    margin: 0%;
    background: url(67663.jpg);
    background-size: 900px;
    color:#32272b;
    font-family: cursive;
}

.img 
{
    border-inline: 5px;
}


    
